[2019-11-15 13:51] bahmutov opened #1 "export function to be used from NPM module"
Practice what you preach

[2019-11-15 14:02] bahmutov commented on #1
done in https://github.com/bahmutov/npm-install/releases/tag/v1.1.0

[2019-11-15 14:02] #1 closed

[2019-11-30 02:11] bahmutov opened #2 "Allow specifying working directory"
So that we can install modules from subfolders like this situation
[code]
That would be something like
[code]

[2019-11-30 02:35] #2 closed

[2019-12-05 13:02] bahmutov opened #4 "add parameter to use package.json"
Instead of the lock file

Might be useful to avoid high churn https://twitter.com/mikeal/status/1202298796274700288

[2019-12-05 13:48] #4 closed

[2019-12-21 13:58] dauledk opened #7 "Does this action cache ~/.cache folder?"
Hi Gleb.

I was reading the [Cypress docs](https://docs.cypress.io/guides/guides/continuous-integration.html#Caching) here, and I wondered if this package caches the `~/.cache` folder?

Thanks.

[2019-12-21 17:17] bahmutov commented on #7
Hi,

No, it only caches `~/.cache/yarn` IF it finds `yarn.lock` file in your repository, see https://github.com/bahmutov/npm-install/blob/master/index.js#L78

What are you thinking of caching?

[2019-12-21 20:27] dauledk commented on #7
I'm thinking about Cypress. From the Cypress documentation it states:

So in other words, does this action do the "right thing" in terms of Cypress caching? Thanks for taking your time to answer my question btw - this is an awesome github action that really simplifies the setup.

[2019-12-21 22:11] bahmutov commented on #7
Right, I suspected you wanted to cache Cypress test binary :) Just use https://github.com/cypress-io/github-action for that - it will cache everything and pass all config things.

[2019-12-21 22:11] #7 closed

[2019-12-21 22:15] dauledk commented on #7
I am already using the cypress github-action for running e2e tests.

But now I am working on a github action that runs unit tests in the same repo, and thus wanted to use this action to install npm dependencies. And since cypress is part of the dev dependencies, it will be installed with the other dev-dependencies. So I guess it matters if caching is handled correctly, also in terms of cypress.

D

[2019-12-23 15:56] bahmutov commented on #7
hmm, why not use `github-action` for everything then - it does npm install and caches everything - and if the cache already exists, it is as fast as possible

[2019-12-23 18:07] dauledk commented on #7
I did not think about that - don't know why? Makes perfect sense. I will use @cypress/github-action, even though I won't be running cypress tests. Thanks for that point :)

[2020-01-23 23:00] devotox opened #8 "400mb limit is no longer needed"
https://help.github.com/en/actions/automating-your-workflow-with-github-actions/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy

[2020-02-18 15:13] bahmutov opened #10 "how to set up tests"
Need somewhat realistic end-to-end tests

[2020-02-18 16:31] #10 closed

[2020-02-18 16:33] bahmutov opened #13 "refactor collecting environment info"
to make this action even more testable

[2020-02-18 18:08] #13 closed

[2020-02-18 18:22] bahmutov opened #15 "after release trigger other projects"
Trigger example projects to make sure they work (their status will be reflected in the CI status badges)

[2020-02-18 18:37] bahmutov opened #16 "separate release job in the workflow"
To avoid situation like https://github.com/bahmutov/npm-install/runs/453466017?check_suite_focus=true

[code]

the release went wrong because one of the tests allowed `core.exportVariable('npm_config...')` to happen, changing the environment. If we separate the release job into its own container, the tests will never affect it.

[2020-02-18 18:38] bahmutov opened #17 "Set up e2e tests using subfolders"
In the workflows, we could create subfolders that would use `${{ github.sha }}` to install this action from the current push. Then it would be a true end-to-end test for the current commit

[2020-02-18 20:25] #16 closed

[2020-02-18 21:01] #17 closed

[2020-02-26 09:41] MarcusCemes opened #22 "Yarn Berry (yarn 2) support"
## Context

Yarn 2 (Berry) was released recently and does not seem to be compatible with this action. `--frozen-lockfile` has been deprecated in favour of `--immutable`, and the format of the `yarn.lock` has changed.

There seems to be a handy new `version` property at the top of the `yarn.lock` file for `yarn@2` for detecting the version:

[code]

Here's the output from GitHub Actions:

<details>

[2020-03-02 12:43] mbrevda opened #23 "Cache node_modules"
When using something deterministic such as package-lock.json, would it make sense to try and cache the node_modules directly and skip having to run npm install altogether?

[2020-03-02 17:44] bahmutov commented on #23
I don't think this is the best practice for CI, because it is not repeatable. This is why `npm ci` deletes `node_modules` first, and its docs suggest caching `~/.npm` instead

[2020-03-02 17:44] #23 closed

[2020-03-02 18:42] mbrevda commented on #23
Could there be differences in node_modules between installs if package-lock.json did change?

[2020-03-02 18:49] bahmutov commented on #23
Yes - because package lock has changed, the node_modules it produces might change

Sent from my iPhone

[2020-03-02 19:11] mbrevda commented on #23
Sorry, typo, I was asking if node_modules could be different if package-lock did **not** change

[2020-03-02 19:23] bahmutov commented on #23
No, npm ci command should recreate exactly the same node_modules from the same package lock file

Sent from my iPhone

[2020-03-02 21:05] mbrevda commented on #23
In that case you might want to create a cache based on a hash of package-lock and simply restore node_modules instead of running a full install

[2020-03-02 21:10] bahmutov commented on #23
True, but `npm ci` authors don't recommend this, and instead suggest
caching `~/.npm` folder

On Mon, Mar 2, 2020 at 4:05 PM Moshe Brevda <notifications@github.com>
wrote:

--
Dr. Gleb Bahmutov, PhD

Schedule video chat / phone call / meeting with me via
https://calendly.com/bahmutov
gleb.bahmutov@gmail.com @bahmutov <https://twitter.com/@bahmutov>
https://glebbahmutov.com/ https://glebbahmutov.co

[2020-03-19 00:35] agilgur5 opened #24 "`tar` issues on Windows and macOS"
Hey, thanks for making this to simplify the [cache config for GitHub Actions](https://help.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows)!

I'm trying to add this to [TSDX](https://github.com/jaredpalmer/tsdx) to try to speed up our CI in https://github.com/jaredpalmer/tsdx/pull/625, but we run a test matrix including Windows and macOS, and we'

[2020-03-25 17:15] rh389 commented on #24
The default yarn cache directory on mac is `~/Library/Caches/Yarn/v6` where I guess the `v6` is subject to change as yarn changes its cache format.

The more robust way of getting the cache directory would be capturing the `yarn cache dir` command IMO

[2020-03-25 19:03] agilgur5 commented on #24
The Windows issue seems to be coming upstream, from @bahmutov's fork/PR here: https://github.com/cypress-io/github-actions-cache/pull/1 .
And that's a fork itself of `actions/cache`, which is a good bit farther ahead and seems to have changed it's `tar` handling since: https://github.com/actions/cache/blob/eb78578266b7cec649ab65b6f1534bd6040c838b/src/tar.ts

[2020-04-05 20:32] Baterka commented on #8
I already removed it in my own fork, but I hope this original repo will gets it updated

[2020-04-20 15:55] llccrr opened #25 "error Your lockfile needs to be updated, but yarn was run with `--frozen-lockfile`."
Hi,
I used this library to have some cache on my action when using yarn install, it was working fine until I did some refactor around my dependencies and now I'am having the following error:

`error Your lockfile needs to be updated, but yarn was run with `--frozen-lockfile`.

Here is my github action:

[code]

Do you have any idea ?

[2020-04-20 16:04] bahmutov commented on #25
Have you run “yarn” command locally to update your yarn.lock file?

Sent from my iPhone

[2020-04-20 18:17] llccrr commented on #25
Yes I did

[2020-04-20 18:26] llccrr commented on #25
Thank you ! `rm -rf yarn.lock` did the job :)

[2020-04-20 18:26] #25 closed

[2020-04-29 09:16] LinusU opened #26 "Excluded version from package-lock hash"
First of all, thanks for this great package! This is definitely something that is needed in the eco system.

I was curious what the cache was keyed on and starting reading the source. I see that you hash the lock file which is great, without it the cache can easily balloon in size as package versions are bumped, and the old cache is always retained 😅

There is one annoying thing with the package-l

[2020-05-13 08:52] felixmosh commented on #26
Due to this issue I have cache miss every build :|, pls let's fix it 🙏🏼

[2020-05-14 03:54] jokester commented on #23
just found yarn doesn't recommend `node_modules` too (they only mentioned `~/.yarn/cache`)

[2020-05-14 07:01] mbrevda commented on #23
In spite of the above, I wonder if there is something - anything - that can be done to speed up `npm i`'s? As it needs to be run for every job, in some of my jobs it's the longest step in a job - sometimes by a factor of x2. Anything that can cut this down by any order of magnitude would be a huge help.

Anecdotally, before learning about `jobs.<job>.needs` field, I was running my build & deploy w

[2020-05-19 10:52] felixmosh opened #28 "On monorepo with lerna & yarn workspaces cache miss every build"
Hi,

First of all thank you for this action 🙏🏼
I've noticed that every build of my project the cache always misses.
I've compared the restore-key between 2 builds (which yarn.lock didn't changed) and they are the same.

Any pointers?

[2020-05-20 12:13] felixmosh commented on #28
New build
![image](https://user-images.githubusercontent.com/9304194/82444592-24c27e80-9aac-11ea-8642-6b719991e0d4.png)

Old build
![image](https://user-images.githubusercontent.com/9304194/82444658-3efc5c80-9aac-11ea-8c1b-ccc50ad199de.png)

both of them are mapped to the same cache-key
[code]

[2020-06-08 14:42] jbutko opened #30 "Unexpected input for 'working-directory'"
Hi @bahmutov,
first of all thanks for the action and for your hard work on cypress ecosystem. It's a fantastic testing tool.

I have an issue with defining working directory, I am getting following error during build:
[code]

I think it's the same issue like cypress github action had: [#141](https://github.com/cypress-io/github-action/issues/141) - `working-directory` attribute is missing in [acti

[2020-06-08 14:45] bahmutov commented on #30
Ughh could you add it to the yml file and submit a pull request please

Sent from my iPhone

[2020-06-08 14:46] jbutko commented on #30
@bahmutov sure, will do it soon.

[2020-06-09 19:10] timbuckley commented on #28
@felixmosh Could you post your workflow yaml?

[2020-06-09 22:24] felixmosh commented on #28
[code]

[2020-06-11 03:55] TheSharpieOne opened #32 "Allow cache key prefix"
It would be nice to be able to clear the cache or bust the cache is some way. Based on https://github.com/actions/cache/issues/2 the only way is to just modify the cache key (such as adding `-v2-` to it).
Why would this be needed? Not 100% sure, but I think my yarn cache is bad. It hits the cache and restores, but yarn still fetches the packages and takes a long time. Since the cache is not update

[2020-06-19 07:19] felixmosh commented on #28
@timbuckley can you help?

[2020-06-24 06:36] hammadj commented on #28
Also encountering this issue, its really slowing down our CI/CD process

[2020-06-26 23:02] jasonkuhrt opened #33 "Trying to interpret results"
Thanks for this GitHub action @bahmutov.

I just gave it a shot and I'm trying to interp the lackluster results. Maybe I'm doing something wrong.

PR here https://github.com/graphql-nexus/nexus/pull/1120

[commit 1 windows](https://github.com/graphql-nexus/nexus/runs/812738649#step:4:1) - 2:31
[commit 2 windows](https://github.com/graphql-nexus/nexus/runs/812855415#step:4:1) - 2:32 (cache MISS)

[

[2020-07-10 10:29] moltar commented on #28
Using yarn & lerna here, and it seems to work

https://github.com/berstend/puppeteer-extra

[2020-07-11 09:22] nealchandra commented on #28
Also seeing this issue, would appreciate any insight on how to fix. @moltar doesn't appear to work for you either -- if you look the `yarn install` step is taking 30-50 sec which shouldn't be the case for a cache hit.

[2020-07-11 09:55] moltar commented on #28
If you are using the same caching systems as GitHub's native system, then it also had a lot of issues in the last few months with fetching data.

Don't know if it's related, but here is their issue: https://github.com/actions/cache/issues/267

[2020-07-11 09:56] moltar commented on #28
Also, if `yarn install` pays attention to hash of the package file, then this would not use cache in most of my pushes, as I was messing a lot with package.json files.

[2020-07-16 14:51] miohtama opened #35 "Consider faster and better packing alternative for tar"
Though tar + gzip is well-known through UNIX world, there are now compression algorithms that will decompress faster on multi CPU environments. For example Zstandard might be a good fit for NPM caching over tar.

Just throwing a feature idea here, I do not know if there is enough demand for better and faster compression as a feature.

https://engineering.fb.com/core-data/smaller-and-faster-data-co

[2020-07-16 14:54] miohtama commented on #35
Looks like Github actions already provides this as a library:

https://github.com/actions/cache

[2020-07-16 14:56] #35 closed

[2020-08-10 15:50] #8 closed

[2020-08-10 15:50] #24 closed

[2020-08-12 08:33] pete-redmond-cko opened #39 "Error when installing packages"
Hey 👋

Our checks started failing about 2 days ago with a reserveCache failed error (see below). The error is very sporadic and will usually fix itself when we run the checks again.

[code]

I noticed a new release was made 2 days ago. Do you think the new release is causing the issue?

[2020-08-12 09:40] tom-finlayson-cko commented on #39
We're also experiencing the same issue on some of our workflow runs. Have pinned to the previous version of v1.4.1 this morning and that seems to have resolved the issue/got our workflow running successfully again

[2020-08-13 08:57] mforman1 commented on #39
Same for us

[2020-08-13 10:18] mforman1 commented on #39
@tom-finlayson-cko May I ask how do you downgrade the `npm-install` version?

[2020-08-13 10:23] tom-finlayson-cko commented on #39
@mforman1 Sure thing, just had to set the version explicity for the step like so
`uses: bahmutov/npm-install@v1.4.1`

[2020-08-14 03:09] agilgur5 commented on #39
Yep, sorry folks that's totally my bad, my #37 passed the CI checks / integration tests I added, but then those same checks somehow failed immediately after merge to `master` and subsequent pushes there. I'm guessing bahmutov didn't see those failures before he published the change:

If you have a race condition in your workflow, e.g. a matrix install on different Node versions, but same OS, the f

[2020-08-14 05:28] agilgur5 commented on #39
This also seems to be a long-standing upstream error as well: https://github.com/actions/cache/issues/144 . It was a warning previously though, now it's an error

[2020-08-14 08:05] tom-finlayson-cko commented on #39
Thanks for explaining @agilgur5, makes sense now why we we've only been seeing the error in our matrix workflows

[2020-08-14 17:08] #39 closed

[2020-08-14 23:33] jerivas opened #42 "Allow specifying node version"
It looks like this action always uses node 12. Could you add a setting to choose another node version?

[2020-08-15 13:29] agilgur5 commented on #35
Yes, this library uses `@actions/cache` under-the-hood (more specifically https://github.com/actions/toolkit/blob/master/packages/cache as of #37), so that'd be the place upstream to suggest compression alternatives

[2020-09-01 20:48] davidcalhoun commented on #28
I'm also getting yarn install times around 30 seconds with this, which I'm curious if I can improve.  I'm getting cache hits (see log below), but it seems to take quite a while to get past the third step (`[3/4] Linking dependencies`).

[code]

[2020-09-01 22:18] davidcalhoun commented on #28
Quick update: I was able to improve the performance somewhat by using `actions/cache@v2`.  On the last run with a cache hit, restoring from cache took 12s, and `yarn install` took 11s, so the total time is slightly faster for me than using `bahmutov/npm-install@v1`.

Here's what my workflow looks like:

[code]

[2020-09-04 12:34] mbrevda opened #45 "cache node_modules/.cache"
Would it make sense to cache `node_modules/.cache`? This would greatly speed up all sorts of builds and transpilers (such as babel) that store there cache there

[2020-09-10 16:41] namnm commented on #23
Running on the same issue with this, due to the `Building fresh packages` step takes a very long time. Im finding a way to cache multiple node_modules for each sub dir in the repo.

Would love if we can support caching the node_modules as passing an option.

[2020-09-21 06:25] agilgur5 commented on #45
This is a good idea, however I think this is outside the scope of this Action -- `node_modules/.cache` is only created and used during the _build_ step, and this Action only runs on _install_, so I don't think it's actually possible within this package.

Also not sure what the cache hash would be for this either -- each package that adds a cache in `node_modules/.cache` has its own hashing algorit

[2020-10-04 09:41] johannesjo opened #49 "Allow specifiying custom timeout value"
For yarn I recently tend to run into network timeouts pretty often. Would be cool if we could specify a longer network timeout.

[2020-10-21 19:09] adamrneary opened #51 "Failure on initial build (`npm cache hit undefined`)"
Hi! I am trying to get started with this action. I have the job defined as follows:

[code]

But on the initial build it seems to think `undefined` as a cache key is a hit?

[code]

Any idea if this is something I am doing wrong and might be able to resolve?

[2020-10-29 15:10] #51 closed

[2020-10-29 15:11] bahmutov commented on #51
@adamrneary see if the new release fixes your problem

[2020-10-29 15:18] bahmutov opened #53 "Add example with Node install"
More complex scenario similar to https://github.com/d3lm/ngx-drag-to-select/blob/master/.github/workflows/main.yml

- set particular version of Node
- install dependencies
- run tests
- maybe another job to have a matrix of Node versions?

[2020-11-07 14:45] ai opened #55 "Add --production flag"
Often I need to avoid `devDependencies` installing (for security reasons).

How I can do it with your awesome tool?

[2020-11-07 16:14] bahmutov commented on #55
I think this could be a good feature. I would open a pull request with this addition and tests. I am thinking an input boolean flag

[code]

[2020-11-07 20:53] bahmutov commented on #55
By the way, there is a workaround and this might not be necessary: use `NODE_ENV=production` environment variable

[code]

[2020-11-09 17:39] #55 closed

[2020-12-05 20:03] thinca opened #58 "npm-shrinkwrap.json support?"
I have a repository that uses `npm-shrinkwrap.json` instead of `package-lock.json`.

ref: [shrinkwrap.json | npm Docs](https://docs.npmjs.com/cli/v6/configuring-npm/shrinkwrap-json)

Could you add a support for `npm-shrinkwrap.json`?
If `npm-shrinkwrap.json` exists, just use it instead of `package-lock.json`.

[2020-12-05 20:13] bahmutov commented on #58
I would be open to a pull request

Sent from my iPhone

[2020-12-07 14:47] #58 closed

[2020-12-07 14:48] bahmutov opened #60 "set up Renovate"
to keep dependencies up to date automatically

[2020-12-07 14:56] renovate[bot] opened #62 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(deps): update dependency @zeit/ncc to v0.22.3
 - [ ] fix(deps): update dependency @actions/cache to v1.0.4
 - [ ] fix(deps): update dependency @actions/io to v1.0.2
 - [ ] fix(deps): update dependency hasha to

[2020-12-07 14:58] bahmutov commented on #60
done

[2020-12-07 14:58] #60 closed

[2020-12-08 18:42] bahmutov commented on #45
I would be against this, I think caching the standard node modules location is better by default. If you want to cache custom folders, probably can build it using http://github.com/actions/cache

[2020-12-08 18:42] #45 closed

[2020-12-08 20:54] #22 closed

[2021-01-13 22:09] joshuapinter commented on #33
I'm also only seeing a improvement from about 1:50 -> 1:30 when using this versus just using `yarn install` by itself. I'm seeing that the cache is being hit on subsequent re-runs of the job, but why is it still taking such a long time? I figured it would be nearly instant with a perfect cache hit.

[2021-01-21 13:14] renovate[bot] opened #79 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:40] #79 closed

[2021-01-21 22:13] gr2m opened #80 "Error: getCacheEntry failed: Cache service responded with 503"
I have seen [this error](https://github.com/semantic-release/npm/pull/327/checks?check_run_id=1739227088#step:4:5) pop up several times in the past few days

<img width="765" alt="image" src="https://user-images.githubusercontent.com/39992/105418677-5fa82380-5bf2-11eb-8f4b-cd23c1da418c.png">

The error seems to originate from this code, which does not seem to be part of this repository

[code]

I'

[2021-01-30 23:21] jagoe commented on #32
I ran into an issue where creating the cache returns an error because "another job may be creating this cache".
Apparently the same issue might happen with the native cache action with the cause possibly being some sort of lock due to a job being canceled while trying to create the cache.
The easiest and most reliable workaround is changing the cache key.

So for me the workaround seems to be swit

[2021-02-08 13:30] bitttttten commented on #80
I'm getting a similar error but with 403:

[code]

[2021-02-09 13:35] jgoux commented on #33
Hello, same situation here o/

I tried this github action but it's slower than using the default actions/cache@v2 :

[code]

[code]

[2021-02-09 20:59] leosuncin opened #85 "Fails if package.json contains a postinstall script"
The action fails if the `package.json` has a postinstall script.

<pre>
running npm-install GitHub Action
trying to restore cached NPM modules
Received 46333806 of 46333806 (100.0%), 113.3 MBs/sec
Cache Size: ~44 MB (46333806 B)
/bin/tar --use-compress-program zstd -d -xf /home/runner/work/_temp/0bf3a688-e24c-4407-aa2c-bb4db5f3f360/cache.tzst -P -C /home/runner/work/my-first-snowpack-app/my-first-

[2021-02-09 21:18] leosuncin commented on #85
It was due an error of npm/cli#1152

[2021-02-09 21:18] #85 closed

[2021-02-16 03:29] ai opened #87 "How I can call `yarn install --ignore-engines`"
I need to install Yarn 1 dependencies with `--ignore-engines` because some of the dependencies require Node.js >= 12, but I do not use them on CI.

How I can do it?

[2021-02-16 03:38] bahmutov commented on #87
You can specify the install command https://github.com/bahmutov/npm-install#custom-install-command

[2021-02-16 03:38] #87 closed

[2021-03-10 23:31] jgoux commented on #80
I have the same error as @bitttttten when trying to run my action on a pull_request `closed` event

[2021-03-20 01:09] BeeeQueue opened #90 "Yarn 2 Cache Is Not Cached Between Builds"
My workflow fetches new dependencies on every run, I think the cache caching (😄) is not configured correctly for Yarn 2.

https://github.com/BeeeQueue/game-calendar

![image](https://user-images.githubusercontent.com/472500/111854741-1583ab80-88de-11eb-9174-289c07f7961c.png)
![image](https://user-images.githubusercontent.com/472500/111854748-22a09a80-88de-11eb-8291-5c3e4f0cfa5e.png)

[2021-04-03 14:19] aryella-lacerda commented on #80
I'm getting the 403 error on `pull_request closed` too 👍🏼

[code]

If it makes any difference, I'm checking out the HEAD branch of the pull_request:

[code]

[2021-04-17 19:37] hhimanshu commented on #80
I am hitting the same issue today on one of the jobs, but not `deployment_status`

[2021-04-21 08:35] pjakubczyk commented on #80
I'm doing transition to Github Actions and this error
[code]
shows up more than often. I feel that in case of reading the cache it should fallback with installing the dependency, not fail the build, right?

[2021-05-18 05:54] leomelzer commented on #42
I wondered about the same and briefly dug into the topic. This is the relevant upstream issue: https://github.com/actions/runner/issues/772

The GitHub Action runner is currently "stuck" on `node12`. I assume this is going to change in the coming months as node12 will end its LTS phase end of April next year.

[2021-05-20 16:22] simonihmig opened #95 "Using yarn but ignoring lockfile"
Given a project with a `yarn.lock` and calling the action with `useLockFile: false`, I was surprised that it actually runs `npm install`, instead of `yarn --no-lockfile`. I would have expected the latter.

This seems to be intentional, looking at this [code](https://github.com/bahmutov/npm-install/blob/f8f8ed9b94559cdd75b866972489cf9bda08f4ef/index.js#L125-L130), but I wonder why?

[2021-06-19 11:04] moltar opened #100 "npm ERR! cb() never called!"
I know this is not directly under this action's control, but I am raising it here, in case there is some effect.

I'm getting the following error intermittently:

[code]

Any clues?

[2021-06-19 23:01] YenHub commented on #42
Checkout my action setup here:- [QuickList Deploy Action](https://github.com/YenHub/list.quickdash.co.uk/blob/master/.github/workflows/pushtoftp.yaml)

You can simply set the node version like so:-

[code]

[2021-06-19 23:03] YenHub commented on #100
This sounds more like an issue with your dependencies, something doesn't appear to like version 14.17.0

[2021-06-19 23:06] YenHub commented on #53
This is my React App boiler plate which includes auto deployment too using [Sam Kirkland's FTP Action](https://github.com/SamKirkland/FTP-Deploy-Action)

[code]

[2021-06-19 23:32] moltar commented on #100
It happens in CI only though, and randomly without any pattern.

[2021-06-20 14:34] YenHub commented on #100
Is your package-lock commited to your repository?

Feel free to share a link and I can take a peek ☺️

[2021-06-20 14:37] YenHub commented on #95
@bahmutov - is this by design or can I open an MR to address this?

[2021-06-20 20:30] bahmutov commented on #95
Ughh it seems like a bug

Sent from my iPhone

[2021-06-21 02:09] moltar commented on #100
Yeah!

It's a private repo :(

But I think I've had it happen on the public ones too, when/if it does, I will share the link here.

Any other debug steps I can take?

[2021-06-21 20:47] YenHub commented on #95
I have opened a pull request which hopefully addresses this issue.

Let me know how it goes!

https://github.com/bahmutov/npm-install/pull/102

[2021-06-23 12:11] Tallyb commented on #100
I get this often as well. Pkg-lock is committed, and occasionally I would get it.
Some things to notice, though:
- Multiple jobs exist in the same workflow, all with the same action, and occasionally one will fail while the other succeed to run npm i.
- Rerunning the job can often fix the issue
- It happens after a change in the pkg lock, e.g. upgrading / installing a new package.
I think it is re

[2021-06-23 12:29] moltar commented on #100
Yup what @Tallyb said. Same scenario exactly.

[2021-07-05 09:53] Tallyb commented on #100
This seems to happen when there are multiple jobs running in parallel. My analysis is as follow:
Change made to pkg-lock
In all jobs, cache hits undefined (since the pkg-lock changed)
It installs and tries to create the new cache file.
BUT there are multiple jobs that do the same - one succeeds and the others fail, as it already exists

[2021-08-04 21:46] srcnalt opened #103 "npm ERR! fsevents not accessible from chokidar"
It was working fine and then suddenly turned into this.

[code]

[2021-09-06 14:45] BeeeQueue commented on #90
Closing this, you should instead use the caching provided by `setup-node`!
It supports all versions of Yarn.

[code]

[2021-09-06 14:45] #90 closed

[2021-09-14 16:21] wooorm opened #108 "Q: `useRollingCache: true` still results in `npm ci`, but `npm ci` removes `node_modules`?"
I’m trying to make a build (mdx-js/mdx) much faster, and am testing `useRollingCache: true`. It doesn’t seem to do much. Could that be because it still uses `npm ci` ([proof from workflow](https://github.com/mdx-js/mdx/runs/3601095897?check_suite_focus=true#step:5:14)), but `npm ci` is faster if:

due to:

(citations from [`npm ci` docs](https://docs.npmjs.com/cli/v7/commands/npm-ci))

[2021-09-18 13:43] jensmeindertsma commented on #51
I'm running into this issue today, any idea how this might be caused?

[2021-09-18 13:49] jensmeindertsma commented on #51
[code]

[2021-09-28 13:51] fr20587 commented on #103
I have the same problem when I try to deploy app NestJS to Heroku, @kamilmysliwiec any suggestion?

[2021-09-29 18:44] ericbsd opened #111 "The The README is outdated Warning: Unexpected input(s) 'useRollingCache'"
[code]
Also looks like bahmutov/npm-install does not get cached anymore.

[2021-09-29 18:50] ericbsd commented on #111
It says  Cache saved successfully, but on the next run `trying to restore cached NPM modules`, `npm cache hit undefined`
[code]

[2021-09-30 11:14] nmpcunha commented on #103
Hey! 👋🏼

Despite I'm not using this specific actions I was facing exactly the same issue on a pet project I have. (feel free to check [here](https://github.com/nmpcunha/music-player/actions))

After some tryouts, reading some threads and print some environment values, I was able to solve this by upgrading NPM 🤷🏼‍♂️

Just added a step to my pipeline with:
[code]

Then everything starts to perform a

[2021-10-06 00:07] fr20587 commented on #103
I've solved the problem change fsevents as optional dependency in package-lock.json, (in all place where was as required)

[2021-10-07 02:59] umimehar opened #112 "Error in github action"
![image](https://user-images.githubusercontent.com/11488033/136313324-204b6af8-0a77-437e-a82a-a3d0bfe51670.png)

Any idea about this error?

[2021-10-07 03:14] #112 closed

[2021-10-08 07:06] jlg4 opened #113 "decompress cache to subfolder"
Hi

I have a config:

[code]

but it seems the cache is decompressed to a different folder and thus not speeding up my build. what am I missing?

<img width="451" alt="Screenshot 2021-10-08 090418" src="https://user-images.githubusercontent.com/70292749/136513017-ab48bd61-31fa-45fc-9938-dd3f8eae6194.png">

Thanks!

[2021-10-19 22:10] meabed opened #114 "Yarn v3"
Thanks for the great action, When i use it with yarn v3 berry - it is not re-using the cache.
Any guide on how to get it working with yarn v3 berry

Thanks!

[2021-11-10 19:19] dgreene1 commented on #23
Yes, has anyone come up with anything in the last year to make it faster?

I would have thought that `bahmutoc/npm-install` was using the upload/download Github actions under the hood. That's the only way that I know of that you can install once and then just tar it up and download it again. I don't do it myself because I can just make coffee when a workflow is running, but I wonder if upload/down

[2021-11-10 19:44] dgreene1 commented on #111
I'm experiencing the same where I only ever see `npm cache hit undefined`

[2021-11-17 13:45] anshulsahni commented on #80
I'm getting this error when event deployment, is this is because in some events the because of absence of some parameter retrieving cache is not possible 🤔

[2021-12-02 17:30] bbugh commented on #42
If you want to use `.tool-versions` like from asdf, you can do this:

[code]

[2021-12-07 11:29] racheldaguenethahn opened #117 "Error with bahmutov/npm-install@v1"
Hello,

one of my pipeline - not modified from 2 months - defines this step:

`
- uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
`

The previous week, this step runs successfully.

`
Run bahmutov/npm-install@v1
running npm-install GitHub Action
trying to restore cached NPM modules
Received 117104878 of 117104878 (100.0%), 108.4 MBs/sec
Cache Size: ~112 MB (117104

[2021-12-14 20:45] dbenton9 commented on #117
I'm also experiencing identical issues, I created a PR to remove one line of html out of my codebase and now I'm seeing the same error message as @racheldaguenethahn.

[2021-12-15 08:11] racheldaguenethahn commented on #117
I dbenton9, finally we resolved the issue by updating the github workflow.

This existing workflow:
...
      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1
        with:
          working-directory: frontend
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Inst

[2022-01-15 21:37] michox commented on #103
it should be enough to add `
    "optionalDependencies": {
      "fsevents": "2.1.2"
  },` to the package.json, delte the package-lock.json and run `npm install` to autogenerate a new package-lock.json. This worked well for me. Don't forget to commit the changes before trying to deploy

[2022-02-04 16:53] liorp opened #120 "Getting error when running a project that depends on esbuild"
Hi,
I'm writing a react library using tsdx which recommends using this action.
My library has a devDependency of esbuild, which causes this beauty:

[code]

What's wrong?

[2022-02-09 19:51] jsodeman commented on #103
I got this error due to having a different version of Node on my dev machine and specified in my build action. Updating the action to the new version fixed it.

[2022-02-15 18:45] YoDaMa commented on #103
My workaround was to install chokidar as a dev dependency.

[code]

[2022-02-16 08:27] #103 closed

[2022-02-24 14:17] mellis481 commented on #55
@bahmutov  `--production=false` will install devDependencies even when `NODE_ENV=production` so the workaround you pointed out may not satisfy every situation. Currently, I have a need to be able to install devDependencies for a specific Github Actions workflow step when `NODE_ENV=production` so allowing to specify a `production` argument value in the `with` block of this action would be very help

[2022-02-24 14:28] bahmutov commented on #55
Ok, @mellis481 can you open a PR (with tests and example) for this, please?

[2022-03-02 18:51] OR13 commented on #28
[code]

[2022-03-09 17:17] pakhilov opened #122 "Error: Timeout awaiting 'request' for 30000ms when "WAIT_ON_TIMEOUT": 600000"
with 10 min timeout, I'm constantly have this error on GitHub actions
<img width="1144" alt="Screen Shot 2022-03-09 at 9 16 39 AM" src="https://user-images.githubusercontent.com/10390058/157495395-abc440d7-7978-41eb-acff-5297779ee093.png">

[2022-03-09 17:30] bahmutov commented on #122
There is not enough information for me to debug this, can you make a repo with a reproducible example? Is this even the right repo to report this issue?

[2022-03-09 17:54] pakhilov commented on #122
Yes, should be moved to https://github.com/bahmutov/start-server-and-test/issues

[2022-03-09 17:54] #122 closed

[2022-04-05 19:38] mellis481 opened #129 "Decoding error: Restored data doesn't match checksum"
I'm seeing the following error all of the sudden:

[code]

The `npm-install` action ran successfully minutes before in a PR workflow. The log above is from an extremely similar manual deployment workflow that looks like this:

[code]

[2022-05-06 11:32] MichaelDeBoey opened #133 "Add support for `pnpm`"
Currently, this Action is only looking for an `package-lock.json`/`npm-shrinkwrap.json` or `yarn.lock`.
It would be awesome if it would look for `pnpm-lock.yaml`/`pnpm-lock.yml` as well.

https://github.com/bahmutov/npm-install/blob/04d753f67d29cb02b7f29f99eea1c35d70053ba3/index.js#L148

Use-case for this: we're using this Action in all @remix-run default stacks ([indie-stack](https://github.com/r

[2022-06-13 07:53] fransf-wtax commented on #80
Just got this error now: `Error: getCacheEntry failed: Cache service responded with 503` from the `setup-java@v2` action. Failed again when I retried. 503 suggests this is a problem with GitHub Actions, not with my workflow.

[2022-06-13 07:59] nbonavia commented on #80
Can there be a failover so that if the Cache fails to be retrieved, the standard npm install command gets executed instead. This will be able to still run the job if github actions have issues with caches.

[2022-06-13 08:01] afrokick commented on #80
Me too, but with `setup-node@v2`

[code]

[2022-06-13 08:05] dannyk03 commented on #80
Same here What's going on? We have production build failed, which is critical

[2022-06-13 08:05] Ginxo commented on #80
same here https://github.com/kiegroup/kogito-docs/runs/6857322733?check_suite_focus=true

[2022-06-13 08:10] afrokick commented on #80
So, I had an investigation. It doesn't work if cache was enabled. Try to disable cache.

[code]

[2022-06-13 08:21] Tonio-lavanda commented on #80
It wasn't working for me 5min ago (503 error),  I retried now and it's working

[2022-06-13 08:25] mnicol93 commented on #80
@afrokick your solution worked for me, thanks!

[2022-06-13 08:26] mnicol93 commented on #80
This worked for me, thanks @afrokick

[2022-06-13 08:27] IamViditAgarwal commented on #80
I was also facing the same issue , I checked the github repo for the  `actions/setup-node` and found out they have release a v3 upgrade .
So i changed my code to use
```actions/setup-node@v3```

and now its working 👍🏻  ..

May be you guys also try this method . And also its good practice to keep upgrading the version of the github action step

[2022-06-13 08:51] jobveldhuis opened #142 "Make action fault-tolerant when using caching"
We are currently seeing outage of the caching on the side of Github (see issue: https://github.com/actions/cache/issues/820). While this is something they have to fix, I think this action should be fault-tolerant when cache is unavailable, which means refetching and reinstalling all dependencies. Right now the action is failing with: `getCacheEntry failed: Cache service responded with 503`. This h

[2022-06-13 08:58] TaenFN commented on #80
We're facing the same issue.
[code]
[code]
No cache key is specified.

[2022-06-13 09:01] Ulset commented on #80
Same issue here
[code]

[2022-06-13 09:01] thinhnguyenpionero commented on #80
I added the following to my package.json
[code]

[2022-06-13 09:01] tadopionero commented on #80
worked for me :)))

[2022-06-13 09:03] lossless1 commented on #80
how is it related to `cache` issue?

[2022-06-13 09:04] riffraff commented on #80
@lossless1 it's probably invalidating the cache

[2022-06-13 09:26] DonGriffon1 commented on #80
They just returned server back alive. It works without any changes in the codebase

[2022-06-13 09:29] TheFlow0360 commented on #80
still not working reliably

[2022-06-13 09:45] bel0v commented on #80
We're experiencing the same issue
<img width="742" alt="Screenshot 2022-06-13 at 12 43 39" src="https://user-images.githubusercontent.com/2889382/173326835-432fa549-0b95-48a7-b273-b07de16e502a.png">
.

[2022-06-13 10:08] titushartm commented on #80
Cache problem still existing. Also CloudFront Distribution is in "deploying" for 2h and in my prod. system the user auth is failing..

[2022-06-13 10:10] yras5869 commented on #80
`actions/setup-java@v3 ` worked for my java project

[2022-06-13 10:11] ChristianBell1995 commented on #80
Getting the same error here for actions/setup-node@v2

[2022-06-13 10:12] sdsa-cci commented on #80
[code]

Getting this issue from past 10 mins now.

[2022-06-13 10:14] kimjngyun commented on #80
Getting the same error here for `actions/setup-node@v3`

[code]

[2022-06-13 10:18] akindo commented on #80
Updating to Checkout v. 3 didn't help. Didn't try updating setup-node to v. 3, but disabling npm cache did the trick.

[2022-06-13 10:19] dmarinere commented on #80
How do I disable cache

[2022-06-13 10:20] yras5869 commented on #80
Disable the cache. It should work

[2022-06-13 10:20] afrokick commented on #80
Read above.

https://github.com/bahmutov/npm-install/issues/80#issuecomment-1153608979

[2022-06-13 10:21] dmarinere commented on #80
Thank you

[2022-06-13 11:09] sm1990 commented on #80
I have `setup-node@v3` and still got the issue. Commenting  `cache:npm` worked for me.

[2022-06-13 11:16] sdsa-cci commented on #80
No need to upgrade anything. `Just re-run you failed jobs`. I tried this and worked for me. Seems like it was a service issues from Github's side.

[2022-06-13 11:29] topleft1562 commented on #80
still failing for me.

[2022-06-13 11:30] kudaleganesh commented on #80
Disabling the cache:npm works for me.

[2022-06-13 11:36] mateoqac commented on #80
Ruby budnle-cache is failing too! :(

[2022-06-13 11:43] kudaleganesh commented on #80
After turning the cache on again, it failed.

[2022-06-13 11:49] kudaleganesh commented on #80
It is a service issue.
https://www.githubstatus.com/

[2022-06-13 12:58] stdimitrovv commented on #80
No production releases today, boys 😃

[2022-06-13 13:03] mwmw7 commented on #80
Oh my god... We have to do hotfix...our team is still wating

[2022-06-13 13:14] Indronil commented on #80
Hi,

I am having the same issue in my CI system just started occurring today for the first time. It was working fine without any issue until Friday.

Run actions/setup-node@v2
Found in cache @ /opt/hostedtoolcache/node/14.19.3/x64
/usr/local/bin/yarn --version
1.22.[18](https://github.com/viacomcbs/vcap-platform-applications/runs/6860584429?check_suite_focus=true#step:3:19)
/usr/local/bin/yarn cac

[2022-06-13 13:33] afrokick commented on #80
Yes, just disable cache for some time while Github fixing this issue

[2022-06-13 13:42] sherif-farid commented on #80
updating from v2 to v3 solved my problem
`steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: corretto`

[2022-06-13 14:04] stdimitrovv commented on #80
It's up again, boys, the dream is alive

[2022-06-13 14:07] sergiovanacloig commented on #80
The issue should be solved, it seemed a problem in the github action side. You can check here for the status: https://www.githubstatus.com/

[2022-06-14 11:03] christos97 commented on #80
Can you please add the ability to disable the cache without commiting to master ?
Maybe directly from the actions tab if cache is mentioned in the yaml file?

[2022-06-21 13:47] #42 closed

[2022-06-28 00:32] jenseng opened #146 "v1.8.16 breaks cache miss installs on Windows"
Starting with v1.8.16, we're seeing failures in `windows-latest` workflows whenever there's a cache miss (i.e. dependencies change ... for cache hits it's still working). This happens on any version of node:

[code]

Might be due to a recent underlying change in `actions/cache`? The same workflow works fine on `ubuntu-latest`, fwiw. The relevant workflow config is:
[code]

Here's a [failing window

[2022-06-28 10:40] dhruvdutt commented on #146
Facing this issue even on Linux systems.

[2022-06-28 13:18] muratkeremozcan commented on #146
Confirmed.

1.8.15 addresses it https://github.com/muratkeremozcan/cy-react-component-test-examples/actions/runs/2576451291.

Here's the 1.8.16 run with debug: https://github.com/muratkeremozcan/multi-stage-caching/runs/7092543067?check_suite_focus=true#step:4:63.

next, since it complained about zstd, I worked around that by installing zstd, which uncovered this

https://github.com/muratkeremozca

[2022-06-28 17:19] jenseng commented on #146
Here's some more context, [this is the change](https://github.com/actions/toolkit/commit/da52b358001d3b152ed736de25091af285233dbc) that introduced the new error.

I set up a [simpler repo](https://github.com/jenseng/workflow-test/) w/ debug logging enabled. Here's a [failing install on 1.8.16](https://github.com/jenseng/workflow-test/runs/7097613109?check_suite_focus=true), here's a [passing insta

[2022-06-28 17:40] jenseng commented on #146
Some more context, this might only affect yarn. Here you can see [npm install works fine](https://github.com/jenseng/workflow-test/runs/7098102884?check_suite_focus=true), it correctly finds the .npm dir: ```
##[debug]Search path 'C:\Users\runneradmin\.npm'
##[debug]Matched: C:/Users/runneradmin/.npm
##[debug]Cache Paths:
##[debug]["C:/Users/runneradmin/.npm"]
[code]

[2022-06-28 17:55] jenseng commented on #146
Looks like the yarn cache dir is [wrong](https://github.com/jenseng/workflow-test/runs/7098328438?check_suite_focus=true) on Windows (and maybe in other scenarios too)? It's trying to archive `C:\Users\runneradmin\.cache\yarn` but should actually archive `C:\Users\runneradmin\AppData\Local\Yarn\Cache`

[2022-06-28 20:18] jenseng commented on #146
Any fix should also take into account yarn v1 vs v2/v3, as the mechanism for getting the cache dir is different (`yarn config get cacheFolder`). In yarn 2/3, note the cache dir is typically relative to the project, i.e. `./.yarn/cache`, and it looks like caching is [completely broken on yarn3](https://github.com/jenseng/workflow-test/actions/runs/2578838202) regardless of the OS.

[2022-06-28 20:48] jenseng commented on #146
Here's another workaround/fix ... As of [v2.2](https://github.com/actions/setup-node/releases/tag/v2.2.0), `actions/setup-node` provides equivalent `cache` functionality. It seems to handle yarn cache dirs correctly, see verbose output [here](https://github.com/jenseng/workflow-test/actions/runs/2579036196) (cache miss) and [here](https://github.com/jenseng/workflow-test/actions/runs/2579044981) (

[2022-06-29 19:47] evoactivity commented on #146
Also saw this on a linux container. Pinned my version to 1.8.15 for now.

[2022-07-01 10:41] bahmutov commented on #146
Can you open a pr with a fix and I can merge it quickly please?

Sent from my iPhone

[2022-07-01 14:01] evoactivity commented on #146
https://github.com/bahmutov/npm-install/pull/143 This PR would at least stop peoples pipelines breaking just because the cache is broken.

[2022-07-01 14:55] #142 closed

[2022-07-01 19:07] karlhorky commented on #146
`v1.8.17` seems to be passing now: https://github.com/upleveled/preflight/pull/270

Not sure if #143 disabled caching somehow though, since it just seems to turn off error reporting.

I think sometimes GitHub's cache is broken, but this does not appear to be the case affecting #146

It seems like for #146, the issue is more that Yarn caching on Windows was actually broken before.

See [this commen

[2022-07-13 15:18] moltar commented on #108
Came here to say the same thing. What is the point of the caching feature, if `npm ci` nukes the entire `node_modules` every time?

[2022-07-18 11:51] krzema12 opened #147 "[Feature request] Add action typings"
Hi @bahmutov!

Maintainer of https://github.com/krzema12/github-actions-kotlin-dsl here. Your action has first-class support in the library.

Recently we've come up with a way to reduce operational load when keeping library's action wrappers in sync with action's inputs. The solution includes onboarding https://github.com/krzema12/github-actions-typing. It's as easy as adding an extra YAML file to

[2022-07-18 19:54] krzema12 commented on #147
Cool, here's one: #148.

[2022-07-23 01:49] juninholiveira commented on #146
I tried running this action today and got this error too. 1.8.17 is still not saving my cache on the first run. Rolled back to 1.8.15 and it worked 🙏Waiting for a definite fix.

[2022-07-23 06:57] karlhorky commented on #146
@juninholiveira are you sure you're running into the same issue? Can you link to a public repo where this is failing? (or if it's not public, maybe you can post some logs?)

v1.8.16 was causing CI to fail completely (eg. GitHub Actions would stop running further steps) - it wasn't just a problem that this version did not save the cache.

[2022-07-23 10:50] juninholiveira commented on #146
@karlhorky Oh, then no. I didn't test 1.8.16, only 1.8.17 and the build did NOT fail completely, just did not save the cache. So it's a different issue then. 1.8.15 on the other hand saved the cache as expected.

[2022-07-31 17:30] DasarathanSampath commented on #103
Verify your node version in package.json and change/match to the latest version. It should work.

[2022-08-12 18:22] moltar commented on #120
I'm having the same issue. @liorp were you able to figure it out?

[2022-08-12 18:25] moltar commented on #120
Altho, looks like unrelated to this action.

I added a manual install step _before_ the action, and it still failed with the same error:

[code]

[2022-09-22 11:35] d-werner commented on #108
As documented, folder ~/.npm or ~/.cache/yarn will be cached. So, with npm will first check its local cache before querying the npm registry when you execute `npm ci`.

[2022-10-20 15:30] bahmutov opened #159 "Investigate the warnings"
"Node.js 12 actions are deprecated."

![Screen Shot 2022-10-20 at 11 29 42](https://user-images.githubusercontent.com/2212006/196992416-3079f250-a5fa-452c-b981-26a49f082d39.png)

[2022-10-25 00:48] bahmutov commented on #159
The warnings were caused by old version of `actions/checkout`. Bumped my workflows to use `actions/checkout@v3` and the warnings went away.

[2022-10-25 00:48] #159 closed

[2022-11-22 15:55] fatso83 commented on #103
It is not enough to add `"optionalDependencies": { "fsevents": "*" }` to `package.json`. You also need to re-create the lock file:
[code]

This is because the lock file is created based on the `package.json` file and if all the dependencies are present, adding `optionalDependencies` will not make it recreate it. Only after doing that was I able to install a package that prevented Node 14 from inst